html {
    background-color: #fff;
    color: #000;
}

body {
/*    font-size: 100%;*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



/*This part is for all the hexagon classes (to make the images inside a hexagon shape)*/
.hexagon {
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(120deg);
       -moz-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
         -o-transform: rotate(120deg);
            transform: rotate(120deg);
    cursor: pointer;
    }
.hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
    }
.hexagon-in2 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
/*    background-image: url(http://placekitten.com/240/240);*/
/*    background-color: #9db9e0;*/
    visibility: visible;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
    }

/*this is for the letter hexagon*/
.hexagon-in2B {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
/*    background-image: url(http://placekitten.com/240/240);*/
/*    background-color: #9db9e0;*/
    visibility: visible;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
    }
/*
.hexagon-in2:hover {
    background-image: url(http://placekitten.com/241/241);
    }
*/
/*// this is */
.hexagon1 {
    width: 80px;
    height: 40px;
    margin: 0 0 0 -16px;
    }

.hexagon2 {
    width: 60px;
    height: 30px;
    margin: 0 0 0 -12px;
    }

/* This is for the larger profile pic's (on the profile page) hexagon */
.hexagon3 {
    width: 155px;
    height: 77.5px;
    margin: 0 0 0 -24px;
    }

/*
    main : '#90af3c',
    dark : '#222222',
    grey : '#606060',
    lightGrey : '#aaaaaa',
    light : '#ebebeb',
    darkGlass : 'rgba(46, 46, 46, 0.5)',
    lightGlass : 'rgba(235, 235, 235, 0.72)',
    greyHighlight : 'rgba(186, 186, 186, 0.34)',
*/

/*
    mega : '2.667em',
    large: '1.833em',
    medium: '1.500em',
    small: '1.167em',
    smaller: '0.917em',
    tiny: '0.667em'
*/

.addPhotoText {
/*    background-color: #9db9e0;*/
/*        background-image: url(http://placekitten.com/241/241);*/
    color: white;
    text-align: center;
    font-size: 1.500em;
/*    padding-top: 11px;*/
/*    width: 42px;*/
/*    height: 42px;*/
}

.letterDisplayPic {
/*    background-color: #9db9e0;*/
/*        background-image: url(http://placekitten.com/241/241);*/
    color: white;
    text-align: center;
    font-size: 1.500em;
/*    padding-top: 11px;*/
/*    width: 42px;*/
/*    height: 42px;*/
}

/*These are for positioning various custom Html constructed surfaces*/
.topLeftPosition {
    position:absolute;
    margin-left: 10px;
    margin-top: 10px;
}

.joinedFriend0 {
/*    bottom: 0px;*/
    position:absolute;
    right: -12px;
/*    display: inline;*/
    float:right;
}

.joinedFriend1 {
/*    bottom: 0px;*/
    position:absolute;
    right: 23px;
/*    display: inline;*/
    float:right;
}

.joinedFriend2 {
/*    bottom: 0px;*/
    position:absolute;
    right: 58px;
/*    display: inline;*/
    float:right;
}

.joinedFriend3 {
/*    bottom: 0px;*/
    position:absolute;
    right: 93px;
/*    display: inline;*/
    float:right;
}

.outer {
    display: inline;
    top: 0;
}

.middle {
    display: inline;
    top: 50%;
    position: relative;
}

.inner {
    display: inline;
    top: -50%;
    position: relative;
}

.transparentClass {
    opacity:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.visibleClass {
    opacity:1;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.activityBottomSurfaceLineHeight {
    line-height: 1.4em;
}

.alignSmallImage {
/*    width:22px;*/
/*    height:22px;*/
    vertical-align:middle;
}

.mainText {
    color:#90af3c;
/*    font-size: 0.5em;*/
/*    line-height: 0.5em;*/
}

.greyColor {
    color: #606060;
}

.darkColor {
    color: #222222;
}

.lightGreyColor {
    color: #aaaaaa;
}

.shiftContactText {
    text-align: left;
    margin-left: 65px;
/*    margin-top: 15px;*/
}

.shiftStatusText {
    text-align: left;
    margin-left: 65px;
    margin-top: 15px;
}

.activityNameMargin { 
    margin-left: 15px;
}

.floatingLeft { 
    float: left;
}

.floatingRight { 
    float: right;
}

.activityInfoBarTitle {
    margin-left: 35px;
    margin-right: 15px;
    font-size: 1.167em;
    text-align: left;
/*    line-height: 1em;*/
    margin-top: 2%;
}

.infoBarOrganiser {
    margin-top: 5%;
    text-align: center;
/*    line-height: 1em;*/
    font-size: 0.917em;
}

.infoBarWhenWhere {
    text-align: center;
    font-size: 0.667em;
/*    line-height: 1em;*/
/*    line-height: 50%;*/
}

.fontSizeMedium {
    font-size: 1.500em;
    line-height: 1.4em;
    text-align: left;
}

.fontSizeSmall {
    font-size: 1.167em;
    line-height: 1.3em;
    text-align: left;
}

.fontSizeSmaller {
    font-size: 0.917em;
    line-height: 1em;
}

.fontSizeTiny {
    font-size: 0.667em;
    line-height: 1em;
}

.activityDate {
    font-size: 0.917em;
    line-height: 1em;
    color: #aaaaaa;
    text-align: left;
}

.statusName {
    color: #222222;
    font-size: 1.500em;
    line-height: 1em;
}

.smallerStatusName {
    
}

.requestStatusText {
    
}

.statusText {
    color: #606060;
    font-size: 1.167em;
    line-height: 1.2em;
}

.statusSmallActivity {
    color: #aaaaaa;
    font-size: 0.917em;
    line-height: 1.5em;
    font-style: italic;
}

.statusTime {
    color: #222222;
    font-size: 0.667em;
    line-height: 2.0em;
    font-style: italic;
}

.double-sided {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

.hiddenButton {
        width: 0px;
        height: 0px;
        position:absolute;
        left: -100;
        overflow: hidden;   
    }

input[type=text] {
/*    border-bottom: 1px solid #a5a5a5; */
    border-bottom: none; 
    border-top: none; 
    border-left: none; 
    border-right: none; 
/*    padding: 15px;*/
    background: none;
/*    background: rgba(255,255,255,0.5);*/
    margin: 0 0 10px 0;
    
    font-family: 'gillsansmt' !important;
}

input[type=number] {
/*    border-bottom: 1px solid #a5a5a5; */
    border-bottom: none; 
    border-top: none; 
    border-left: none; 
    border-right: none; 
/*    padding: 15px;*/
    background: none;
/*    background: rgba(255,255,255,0.5);*/
    margin: 0 0 10px 0;
    
    font-family: 'gillsansmt' !important;
}

textarea {
    
    font-family: 'gillsansmt' !important;
/*    font-weight: bold !important;*/
/*
    border-bottom: 1px solid grey; 
    border-top: 1px solid grey; 
    border-left: 1px solid grey; 
    border-right: 1px solid grey; 
*/
    resize: none;
    border: none;
/*    padding: 15px;*/
/*    background: rgba(188, 188, 188, 0.15);*/
/*    background: rgba(255,255,255,0.5);*/
/*    margin: 0 0 10px 0;*/
/*    padding: 10px;*/
}

input[type=text],input[type=number], textarea {
  -webkit-transition: background 0.30s ease-in-out;
/*
  -moz-transition: border-bottom 0.30s ease-in-out;
  -ms-transition: border-bottom 0.30s ease-in-out;
  -o-transition: border-bottom 0.30s ease-in-out;
*/
/*    background: none;*/
    background: rgba(162, 162, 162, 0.15);
/*
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
*/
}
 
input[type=text]:focus,input[type=number]:focus, textarea:focus {
/*  box-shadow: 0 0 5px rgba(81, 203, 238, 1);*/
/*  padding: 3px 0px 3px 3px;*/
/*  margin: 5px 1px 3px 0px;*/
/*  border: 1px solid rgba(81, 203, 238, 1);*/
/*  border: none; !important;*/
/*    border-bottom: 2px solid #c1ed49; */
    border-top: none; 
    border-left: none; 
    border-right: none; 
    outline: 0 none;
  background: rgba(73, 255, 58, 0.13);;
}