@font-face {
	font-family: 'gillsansmt';
	src: url('./OpenSans.eot');
	src: local('gillsansmt'), /*url('./gillsansmt.woff') format('woff'),*/ url('./OpenSans-Light.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_1416">Text with this font applied</p> */
.GillSansClass {
	font-family: 'gillsansmt' !important;
}

/* Font downloaded from FontsForWeb.com */