/* datepicker */
.ff-datepicker.item {
  text-align: center;
}
.ff-datepicker.item > div {
  /* align content vertically */
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ff-datepicker.top, .ff-datepicker.middle, .ff-datepicker.bottom {
  pointer-events: none;
}



.datetime.background {
  background-color: #FFFCFC;
}

.ff-datepicker.item.datetime {
  font-size: 32px;
  font-weight: 100;
}

.ff-datepicker.item.hour {
  font-size: 32px;
  font-weight: 100;
    color:#7ac98f;
}

.ff-datepicker.item.minute {
  font-size: 32px;
  font-weight: 100;
    color:#7ac98f;
}

.ff-datepicker.item.year {
  font-size: 32px;
  font-weight: 100;
    color:#c7c7c7;
}

.ff-datepicker.top.datetime {
  background-color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid #777777;
    pointer-events: none;
}

.ff-datepicker.bottom.datetime {
  background-color: rgba(255, 255, 255, 0.6);
  border-top: 1px solid #777777;
    pointer-events: none;
}
