@font-face {
	font-family: 'opensansLight';
	src: local('opensansLight'), /*url('./gillsansmt.woff') format('woff'),*/ url('../Fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'opensansBold';
	src: local('opensansBold'), /*url('./gillsansmt.woff') format('woff'),*/ url('../Fonts/OpenSans-SemiBold.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_1416">Text with this font applied</p> */
.MainFontClass {
	font-family: 'opensansLight' !important;
}

/* Font downloaded from FontsForWeb.com */